:root {
    --red: #e50914;
    --background: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    font-family: "Open Sans", sans-serif;
}

.container {
    width: 90%;
    margin: auto;
}

header {
    padding: 30px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 130px;
}

header nav a {
    color: #aaa;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover,
header nav a.active {
    color: #fff;
}

/*--- --- --- pelicula principal --- --- ---*/

.pelicula-principal {
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
        url(../images/Imagen-2.png);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

.pelicula-principal .container {
    margin: auto;
    margin-bottom: 6.25em;
}

.pelicula-principal .titulo {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.pelicula-principal .description {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}

.pelicula-principal .boton {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;
    margin-right: 1.25em;
    cursor: pointer;
    transition: 1s ease all;
    font-size: 1.12em;
}

.pelicula-principal .boton:hover {
    background: #fff;
    color: #000;
}

.pelicula-principal .boton i {
    margin-right: 1.25em;
}

/*--- --- --- contenedor titulo y controles --- --- ---*/
.container-titulos-controles {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.container-titulos-controles h3 {
    color: #fff;
    font-size: 30px;
}

.container-titulos-controles .indicadores button {
    background: #fff;
    height: 3px;
    width: 14px;
    cursor: pointer;
    border: none;
    margin-right: 3px;
}

.container-titulos-controles .indicadores button:hover,
.container-titulos-controles .indicadores button.active {
    background: red;
}

/*--- --- --- contenedor principal y flechas --- --- ---*/
.peliculas-recomendadas {
    margin-bottom: 70px;
}

.peliculas-recomendadas .container-principal {
    display: flex;
    align-items: center;
    position: relative;
}

.peliculas-recomendadas .container-principal .flecha-izquierda,
.peliculas-recomendadas .container-principal .flecha-derecha {
    position: absolute;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: 0.2s ease all;
}

.peliculas-recomendadas .container-principal .flecha-izquierda:hover,
.peliculas-recomendadas .container-principal .flecha-derecha:hover {
    background: rgba(0, 0, 0, 0.8);
}

.peliculas-recomendadas .container-principal .flecha-izquierda {
    left: 0;
}

.peliculas-recomendadas .container-principal .flecha-derecha {
    right: 0;
}

/*--- --- --- carousel --- --- ---*/
.peliculas-recomendadas .container-carousel {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.peliculas-recomendadas .container-carousel .carousel {
    display: flex;
    flex-wrap: nowrap;
}

.peliculas-recomendadas .container-carousel .carousel .movie {
    min-width: 20%;
    transition: 0.3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.peliculas-recomendadas .container-carousel .carousel .movie.hover {
    transform: scale(1.2);
    transform-origin: center;
}

.peliculas-recomendadas .container-carousel .carousel .movie img {
    width: 100%;
    vertical-align: top;
}

/*--- --- --- Media Queries --- --- ---*/

@media screen and (max-width: 800px) {
    header .logo {
        margin-bottom: 10px;
        width: 100px;
    }

    header .container {
        flex-direction: column;
        text-align: center;
    }

    .pelicula-principal {
        font-size: 14px;
    }

    .pelicula-principal .description {
        max-width: 100%;
    }

    .peliculas-recomendadas .container-carousel {
        overflow: visible;
    }

    .peliculas-recomendadas .container-carousel .carousel {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .peliculas-recomendadas .indicadores,
    .peliculas-recomendadas .flecha-izquierda,
    .peliculas-recomendadas .flecha-derecha {
        display: none;
    }
}